<div class="container">
<h1>Ask me anything ?</h1>
<form action="<%= answer_path %>" data-turbo="false" method="get">
<label class="form-label" for="question">Write your question here</label>
  <input class="form-control" class="form-control" type="text" name="question">
  <input class="btn btn-secondary mt-3" type="submit" value="Ask!">
</form>
</div>
